<!DOCTYPE html>
<html>
<body>
    <h1> Hello, World! </h1>
<h2>Http methods</h2>
<h3>Get</h3>
<form action="servlets/form" method="get">
    <input type="text" name="username"/>
    <input type="email" name="email"/>
    <button type="submit"> 보내기</button>
</form>
<h3>Post</h3>
<form action="servlets/form" method="post">
    <input type="text" name="username"/>
    <input type="email" name="email"/>
    <button type="submit"> 보내기</button>
</form>
<h2>Forward and Redirect</h2>
    <p><a href="servlets/forward">servlets/forward</a></p>
    <p><a href="servlets/redirect">servlets/redirect</a></p>
</body>
</html>